<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <style>
        body{
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .butao{
            border: none;
            padding: 10px 15px;
        }
        .rd{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="main">
        <form href="/" method="POST">
            <h1>Cadastro & Consulta</h1>
            <button type="submit" class="butao"><a class="rd" href="/cadastro">Cadastro</a></button>
            <button type="submit" class="butao"><a class="rd" href="/consulta">Consulta</a></button>
        </form>
    </div>
</body>
</html>