*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(to left, rgb(116, 116, 116), white  ) ;
}
table.dataTable td{
    padding-right: 50px;
}
.container{
   height: 100vh;
   max-width: 800px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

#retorno{
    margin-bottom: 10px;
    border: none;
}
.rt{
    text-decoration: none;
    border: none;
    color: #000000;
}
